main
{
    display: flex;
}
section#about-me
{
    width: 100vh;
    opacity: 0;
    transform: translateY(40px); 
    animation: animationAboutme ease-out 0.8s forwards;
}
@keyframes animationAboutme {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
section#about-me h1
{
    color: var(--text-color);
    font-size: 40px;
    font-family: var(--font-title);
    font-weight: bold;
    text-align: center;
}
section#about-me p
{
    font-size: 20px;
    font-family: var(--font-content);
    color: var(--description-color);
    text-align: justify;
    line-height: 1.6;
}