header
{
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 20px;
}

.text-section
{
  flex: 1;
  max-width: 310px;
  display: flex;
  flex-direction: column;
}

.title
{
  color: var(--text-color);
  font-size: 50px;
  font-family: var(--font-title);
  font-weight: bold;
}

.subtitle
{
  color: var(--text-color);
  font-size: 24px;
  font-family: var(--font-content);
  text-align: left;
  
}

.container
{
  width: 100%;
  height: 600px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.vinci
{
  margin-left: auto;
  -webkit-mask-image: linear-gradient(to right, transparent, #072227 50%);
  mask-image: linear-gradient(to right, transparent, #072227 50%);
}
.background
{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 280px;
  background: #27636F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-mask-image: linear-gradient(to left, transparent, #072227 20%);
  mask-image: linear-gradient(to left, transparent, #072227 20%);
}
.contact-wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px 50px 200px;
  width: 320px;
  height: 100%;
  background: #27636F;
}

.contact-container
{
  height: 403px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-text
{
  height: 100%;
  position: relative;
  text-align: justify;
  color: var(--text-color);
  font-family: var(--font-content);
}

.contact-text h1
{
  font-size: 32px;
  font-weight: 400;
  margin: 0;
  font-family: var(--font-title);
}

.contact-text p
{
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
  font-family: var(--font-content);
}


@media (max-width: 1100px)
{
  .vinci
  {
    display: none;
  }
  .background
  {
    display: none;
  }
  .contact-wrapper
  {
    width: 100%;
  }
  .contact-wrapper
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
}

@media (max-width: 770px)
{
  .contact-text p
  {
    font-size: 15px;
  }
}